.inputContainer {
  position: relative;
  border: 2px solid lightgray;
  border-radius: 3px;
  margin-bottom: 15px;
  height: 30px;
  &:focus-within {
    border: 2px solid black;
  }
  > label {
    position: absolute;
    left: 7px;
    top: 5px;
    bottom: 5px;
    font-weight: bold;
    font-size: 16px;

    transition-property: top, font-size;
    transition-timing-function: ease;
    transition-duration: 200ms;
  }
  > input,
  button {
    border: none;
    outline: none;
    font-weight: bolder;
    font-size: 11pt;
    font-family: unset;
    position: absolute;
    height: 100%;
  }
  > input {
    top: 0;
    left: 0;
    background: white;
    color: black;
    padding: 5px 7px 5px 7px;
    border-radius: 3px;
    outline: none;
    width: calc(100% - 14px);
    height: 20px;
    &::placeholder {
      color: none;
    }

    &:focus,
    &:not(:placeholder-shown) {
      ~ label {
        top: -20px;
        font-size: 10pt;
      }
    }
  }

  &.button {
    > button {
      width: 60px;
      background-color: #184fe7;
      color: white;
      position: absolute;
      right: 0px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    > input {
      border-radius: 3px 0px 0px 3px;
      width: calc(100% - 75px);
    }
  }
}
