ol {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 255px);
    > li {
      background: white;
      margin-bottom: 5px;
      border-radius: 5px;
      padding: 5px;
      font-size: 12pt;
      display: flex;
      align-items: center;
      border: 2px solid lightgray;

      > .checkbox {
        margin-left: auto;
      }
      >span{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &:not(#noNotesFound):hover {
        border: 2px solid black;
      }
      &.marked{
        border-color: black;
        background-color: lightgray;
      }
      &.checked {
        > span {
          text-decoration: line-through;
        }
      }
      &#noNotesFound {
        background: lightgray;
        justify-content: center;
      }
      &[hidden] {
        display: none;
      }
    }
  }