html,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(246, 246, 246);
}
header {
  display: flex;
  height: 30px;
  padding: 16px 20px 16px 20px;
  font-size: 30pt;
  font-weight: bold;
  align-items: center;
}

nav {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 40px;
  background-color: #314e59;
  display: flex;
  justify-content: space-around;
  align-items: center;
  > img[alt="new note"] {
    width: 50px;
    height: 50px;
    background-color: #a9d5f8;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    transition-property: transform, box-shadow;
    transition-duration: 200ms;
    transition-timing-function: ease;

    &:hover {
      transform: rotate(180deg);
      box-shadow: 0px 0px 6px black;
      background-color: #8f9bd1;
    }
  }
}
ol {
  margin: 0;
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 62px;
  height: calc(100vh - 62px);
  width: 100vw;
  min-height: 300px;
  min-width: 200px;
  > li {
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    width: calc(100% - 50px);
    top: calc(var(--x) * 1px);
    height: calc(100% - var(--x) * 1px - 12px);
    padding: 5px;
    transition-property: top, height, background;
    transition-duration: 200ms;
    transition-timing-function: ease;
    left: 20px;
    display: flex;
    flex-direction: column;
    &:nth-child(odd) {
      background-color: #fffbc1;
    }
    &:nth-child(even) {
      background-color: #ffedd8;
    }
    &:hover {
      background-color: #80d0ff;
      > .header > .title {
        font-weight: bold;
      }
      top: calc(var(--x) * 1px - 15px);
    }
    &.checked>* {
      text-decoration: line-through;
    }
    > .header {
      height: 30px;
      font-size: 15pt;
      display: flex;
      align-items: center;
      justify-content: space-between;
      > span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      > img[alt="checkbox"] {
        margin-left: auto;
      }
    }
    .main {
      text-align: justify;
    }
  }
}
