html,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  padding: 16px 20px 16px 20px;
  font-size: 30pt;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 40px;
  background-color: #314e59;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav > img[alt="new note"] {
  width: 50px;
  height: 50px;
  background-color: #a9d5f8;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

nav > img[alt="new note"]:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-box-shadow: 0px 0px 6px black;
          box-shadow: 0px 0px 6px black;
  background-color: #8f9bd1;
}

ol {
  margin: 0;
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 62px;
  height: calc(100vh - 62px);
  width: 100vw;
  min-height: 300px;
  min-width: 200px;
}

ol > li {
  border-radius: 5px 5px 0px 0px;
  position: absolute;
  width: calc(100% - 50px);
  top: calc(var(--x) * 1px);
  height: calc(100% - var(--x) * 1px - 12px);
  padding: 5px;
  -webkit-transition-property: top, height, background;
  transition-property: top, height, background;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ol > li:nth-child(odd) {
  background-color: #fffbc1;
}

ol > li:nth-child(even) {
  background-color: #ffedd8;
}

ol > li:hover {
  background-color: #80d0ff;
  top: calc(var(--x) * 1px - 15px);
}

ol > li:hover > .header > .title {
  font-weight: bold;
}

ol > li.checked > * {
  text-decoration: line-through;
}

ol > li > .header {
  height: 30px;
  font-size: 15pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ol > li > .header > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ol > li > .header > img[alt="checkbox"] {
  margin-left: auto;
}

ol > li .main {
  text-align: justify;
}
/*# sourceMappingURL=style.css.map */